<footer>
    <p>&copy; 2025 Dove Vinyl</p>
    <div id="social-media-container">
        <i class="fa-brands fa-instagram fa-xl"></i>
        <i class="fa-brands fa-facebook fa-xl"></i>
        <i class="fa-brands fa-github fa-xl"></i>
    </div>
</footer>
</body>
</html>